.DS_Store
.project
.yosys_show_*
.idea
6502_e
6502_k
6502_orig
obj_dir
vhd2vl
vhd2vl-2.5
vlt_dump.vcd
archive
a.out
cpu.sublime-project
cpu.sublime-workspace
build
synth.v
breaks
breaks-old
breaks-newer
circ/experiments.circ
